:root {
  --primary-color: #A9A9B3;
  --background-color: #292A2D;
  --highlight-color: #DEFF85;
  --font-size-base: 1rem;
  --line-height-base: 1.54;
  --font-size-header: 3em;
  --margin-base: 18px;
}

body {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  background-color: var(--background-color);
  color: var(--primary-color);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Font Faces */
@font-face {
  font-family: 'Geo';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/geo.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/scp.woff2') format('woff2');
}

/* Site Header Styles */
.site-header {
  background: #252627;
  padding: var(--margin-base);
}

.site-header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 760px;
  max-width: calc(760px - 2 * var(--margin-base));
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Source Code Pro';
  font-size: 1.25rem;
}

.cursor-animation {
  display: inline-block;
  width: 10px;
  height: 1rem;
  background: var(--highlight-color);
  margin-left: 5px;
  border-radius: 1px;
  animation: cursor 1s infinite;
}

@keyframes cursor {
  0% { opacity: 0 }
  50% { opacity: 1 }
  100% { opacity: 0 }
}

/* Site Content Styles */
.site-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.site-content {
  margin-top: 300px;
}

h1 {
  font-family: 'Geo';
  font-size: var(--font-size-header);
  margin: 0.5em 0;
}

.social-links {
  margin-top: 1em;
}

a {
  color: inherit;
  font-family: 'Source Code Pro';
  font-weight: 700;
  text-decoration: none;
  transition: color 1.5s ease-in;
}

a:hover {
  color: #A6E22E;
}

::selection {
  color: #000;
  background: var(--highlight-color);
}
