:root {
  --primary: #A9A9B3;
  --bg: #292A2D;
  --highlight: #DEFF85;
  --header-font: 'Geo', sans-serif;
  --code-font: 'Source Code Pro', monospace;
  --ease: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  block-size: 100%;
  color-scheme: dark;
}

body {
  min-block-size: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  background: var(--bg);
  color: var(--primary);
  font-family: var(--code-font);
  line-height: 1.54;
  padding-inline: 1rem;
}

.header {
  padding-block: 1rem;
  background: #252627;
}

.logo {
  font: 700 1.25rem/1 var(--code-font);
  display: inline-flex;
  gap: 0.5ch;
  align-items: center;
}

.logo__cursor {
  inline-size: 10px;
  block-size: 1rem;
  background: var(--highlight);
  border-radius: 1px;
  animation: cursor 1s infinite;
}

.main {
  display: grid;
  place-content: center;
  margin-block: 10vh;
}

h1 {
  font-family: var(--header-font);
  font-size: clamp(2rem, 10vmin, 3rem);
  margin-block-end: 1.5em;
}

.social-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s var(--ease);
}

a:hover {
  color: #A6E22E;
}

@keyframes cursor {
  0%, 100% { opacity: 0 }
  50% { opacity: 1 }
}

@media (prefers-reduced-motion: reduce) {
  .logo__cursor {
    animation: none;
    opacity: 1;
  }
}

::selection {
  color: #000;
  background: var(--highlight);
}
